{{ form_start(form, {'attr': {'class': 'row'}}) }}

<div class="input-field col s12 m6 l6">
	{{ form_widget(form.username, {'attr': {'placeholder': 'Nom d\'utilisateur'}}) }}
	{{ form_label(form.username, 'Nom d\'utilisateur') }}
</div>

<div class="input-field col s12 m12 l12">
	{{ form_widget(form.content, {'attr': {'class': 'materialize-textarea', 'placeholder': 'Le contenu de votre commentaire'}}) }}
</div>

<div class="input-field col s6 m4 l2">
	<input type="submit" name="" value="Envoyer" class="btn btn-primary">
</div>

{{ form_end(form) }}
